@font-face {
  font-family: "SF Pro Text";
  src: url('/static/fonts/FontsFree-Net-SFProText-Regular.ttf');
}

BODY{
  background-color: #F7F7F7;
  font-family: Verdana;
}

.arrow {
  font-size: 31px;
  font-family: 'Courier New', Courier, monospace;
}



