@media only screen and (max-width : 1023px) {
  .checkout {
    width: 360px;
    margin: 0 auto;
    background: #FFF;

    &_bgBar {
      background-color:#DE4B4B;
      height: 239px;
      box-sizing: border-box;

      &_changeMethod {
        color: #FFF;
      padding-top: 21px;
      padding-left: 11px;


        p:not(.back) {
          display: none;
        }

        p.back {
          font-size: 50px;
        }
      }

      &_addMethod {
        color: #FFF;
        display: flex;
        font-size: 16px;
        font-weight: bold;
        width: 222px;
        margin: 0 auto;
        margin-top: 15px;
        line-height: 20px;

        img {
          width: 40px;
          margin-right: 15px;
        }
      }
    }
  }
}

@media only screen and (min-width : 1024px) {
  .checkout {
    background-color: #FFF;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    width: 1024px;

    &_bgBar {
      background-color:#DE4B4B;
      box-sizing: border-box;
      padding-left: 65px;
      width: 352px;

      &_changeMethod {
        align-items: center;
        color: #FFF;
        display: flex;
        font-size: 13px;
        margin-top: 46px;

        p.back {
          margin-right: 6px;
        }
      }

      &_addMethod {
        color: #FFF;
        display: flex;
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
        margin-top: 47px;

        > img {
          margin-right: 14px;
        }
      }

    }

    &_data {
      margin-left: 168px;
      margin-right: 65px;
    }
  }
}
