@media only screen and (max-width : 1023px) {
  .dataCard {
    color: #C9C9C9;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    letter-spacing: 0px;
    margin: 96px 40px 0;

    &_label {
      display: block;
      width: 100%;
      margin-bottom: 14px;

      &.lb_half {
        margin-right: 12px;
        width: 133px;

        &.no-margin {
          margin-right: 0;
        }
      }

      &_title {
        height: 13px;
        margin-bottom: 4px;
      }

      &_txt {
        font-size: 11px;
        height: 11px;
        margin-top: 2px;
        color: #EB5757;
      }

      input {
        border: none;
        border-bottom: 2px solid #C9C9C9;
        color: #3C3C3C;
        font-family: Verdana;
        font-size: 17px;
        height: 21px;
        letter-spacing: 0;
        outline: none;
        padding-bottom: 3px;
        width: 100%;
        word-spacing: 6px;
      }

      select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDIwIDE2Ij48ZGVmcz48c3R5bGU+LmF7ZmlsbDojZmZmO30uYntmaWxsOiNkZTRiNGI7fTwvc3R5bGU+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zMzggLTMxMikiPjxyZWN0IGNsYXNzPSJhIiB3aWR0aD0iMjAiIGhlaWdodD0iMTYiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMzOCAzMTIpIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik02LjM1OCwxMy4zODkuMTk1LDcuM2EuNjUuNjUsMCwwLDEsMC0uOTI4TDYuMzU4LjI3OGEuOTcxLjk3MSwwLDAsMSwxLjM2LDAsLjk0NC45NDQsMCwwLDEsMCwxLjM0NEwyLjQ0Niw2LjgzNGw1LjI3Myw1LjIxYS45NDQuOTQ0LDAsMCwxLDAsMS4zNDUuOTcxLjk3MSwwLDAsMS0xLjM2LDAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM0MS4zMzMgMzI0KSByb3RhdGUoLTkwKSIvPjwvZz48L3N2Zz4=') no-repeat center right;
        border: none;
        border-bottom: 2px solid #C9C9C9;
        color: #3C3C3C;
        font-family: Verdana;
        font-size: 17px;
        letter-spacing: 0;
        outline: none;
        padding-bottom: 3px;
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width : 1024px) {
  .dataCard {
    color: #C9C9C9;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    justify-content: flex-end;
    letter-spacing: 0px;
    margin-bottom: 50px;
    margin-top: 52px;

    &_label {
      display: block;
      margin-bottom: 23px;
      width: 100%;

      &.lb_half {
        margin-right: 15px;
        width: 212px;

        &.no-margin {
          margin-right: 0;
        }
      }

      &_title {
        height: 13px;
        margin-bottom: 6px;
      }

      &_txt {
        height: 13px;
        margin-top: 6px;
        color: #EB5757;
      }

      input {
        border: none;
        border-bottom: 2px solid #C9C9C9;
        color: #3C3C3C;
        font-family: Verdana;
        font-size: 17px;
        height: 21px;
        letter-spacing: 0;
        padding-bottom: 3px;
        width: 100%;
        word-spacing: 6px;
        outline: none;
      }

      select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDIwIDE2Ij48ZGVmcz48c3R5bGU+LmF7ZmlsbDojZmZmO30uYntmaWxsOiNkZTRiNGI7fTwvc3R5bGU+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zMzggLTMxMikiPjxyZWN0IGNsYXNzPSJhIiB3aWR0aD0iMjAiIGhlaWdodD0iMTYiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMzOCAzMTIpIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik02LjM1OCwxMy4zODkuMTk1LDcuM2EuNjUuNjUsMCwwLDEsMC0uOTI4TDYuMzU4LjI3OGEuOTcxLjk3MSwwLDAsMSwxLjM2LDAsLjk0NC45NDQsMCwwLDEsMCwxLjM0NEwyLjQ0Niw2LjgzNGw1LjI3Myw1LjIxYS45NDQuOTQ0LDAsMCwxLDAsMS4zNDUuOTcxLjk3MSwwLDAsMS0xLjM2LDAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM0MS4zMzMgMzI0KSByb3RhdGUoLTkwKSIvPjwvZz48L3N2Zz4=') no-repeat center right;
        border: none;
        border-bottom: 2px solid #C9C9C9;
        color: #3C3C3C;
        font-family: Verdana;
        font-size: 17px;
        letter-spacing: 0;
        padding-bottom: 3px;
        width: 100%;
        outline: none;
      }
    }
  }
}
